/.vscode
/Anagram.class
/Anagram.java
/Animals
/Calc.class
/CalcTest.class
/CalcTest.java
/DisplayExample
/Employee.class
/Euclid
/Helloworld
/MazeSolver.class
/MazeSolver.java
/OverrideStudy
/Pr
/Prime
/PrimeDistinguish.java
/Prob10
/Prob11
/Prob12
/Prob13
/Prob14
/Prob6
/Prob7
/Prob8
/Prob9
/ProbFromGPT
/README.md
/Rectangle
/Route.class
/Route.java
/StudyOfclass
/bin
/lib
/src